
.progress {
    margin-bottom: 0 !important;
}
.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.seatPadding {
    padding: 2px ;

}
.seatButton {
    height: 30px ;
    width: 30px ;
    border-color: #1E1D21;
}
.seatButtonPrint {
    height: 30px ;
    width: 30px ;
    border-color: #1E1D21;
    cursor: default;
}
.seatTable {
    padding: 2px !important;
}
#podium{
    background-color: #FFFF00;
    height: 2em;
}
.verticaltext {
    writing-mode: vertical-rl;

}

.black-background {background-color:#000000;}
.white {color:#ffffff;}

.fixed {
    position: fixed;
}

@media (min-width: 1200px) {
    .backend{
        max-width: 970px;
    }
}